*::-webkit-scrollbar {
    width: 12px;
    margin-top: 20px;
}

*::-webkit-scrollbar-thumb {
    height: 15%;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #3e4548;
    border-radius: 12px;
    -webkit-border-radius: 12px;
}
